[Unit]
Description=Honest-UI Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/honest-ui/
ExecStart=/usr/local/honest-ui/honest-ui

[Install]
WantedBy=multi-user.target
